@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: rgb (22, 22, 22)
    padding-bottom: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    position: fixed;
    background-color: rgb(22,22,22);
    top: 0;
    left: 0;
    right: 0;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: #ffffff;
    padding: 7px 15px;
    text-decoration: none;
}

.nav.active {
    background-color: white;
}

.nav.active a {
    color: black;
}

.nav.active .container{
    padding: 10px 0;
}

.nav a.current, .nav a:hover {
    color: red;
    font-weight: bold;
}

.hero {
    position: relative;
    background-image: url('../images/stars.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom-center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    z-index: -2;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.5);
}

.hero h1 {
    font-size: 46px;
    margin: -20px 0 20px;
    z-index: 100;
}

.hero p {
    font-size: 20px;
    letter-spacing: 1px;
}

.content h2, .content h3 {
    font-size: 150%;
    margin: 20px 0;
}

.content p {
    color: rgb(55,55,55);
    line-height: 30px;
    letter-spacing: 1.2px;
}

.home-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    text-deocration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.home-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.home-btn:active {
    transform: scale(0.95);
}
