
*{
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(45deg, #7d5fff, #710000);
    display: flex; /* uses Flexbox which responds to different screen sizes */
    align-items: center; /* Vertically center */
    justify-content: center; /*Horizontally center*/
    height: 100vh; /*Setting body height to 100% */
    margin: 0;
}

.search {
    height: 50px;
    position: relative;
}

.search .btn{
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 24px;
    background-color: white;
    border: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: transform 3s ease;
}

.search .input{
    height: 50px;
    width: 50px;
    font-size: 18px;
    padding: 15px;
    border: 0;
    background-color: white;
    transition: width 1s ease;
}
.search .input:focus {
    outline: none;
}

.search.active .input{
    width: 200px;
}

.search.active .btn {
    transform: translateX(198px)
}
