@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


.btn {
    font-family: 'Roboto Slab', sans-serif;
    background-color: white;
    margin: 10px;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    border: none;
}

.btn:hover{
    opacity: 1.5;
}

.btn:focus {
    outline: none;
}
